@font-face {
    font-family: "Montserrat";
    src: url("./src/Fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    src: url("./src/Fonts/Montserrat/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("./src/Fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: italic;
    src: url("./src/Fonts/Montserrat/Montserrat-BlackItalic.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: lighter;
    src: url("./src/Fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: lighter;
    font-style: italic;
    src: url("./src/Fonts/Montserrat/Montserrat-LightItalic.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
}

section {
    padding: 3em;
}

.container {
    width: 85%;
    max-width: 1200px;
}