@font-face {
    font-family: "Montserrat";
    src: url("./src/Fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    src: url("./src/Fonts/Montserrat/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("./src/Fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: italic;
    src: url("./src/Fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url("./src/Fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("./src/Fonts/Montserrat/Montserrat-LightItalic.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    min-height: 100vh;

    --base-bg: #fff;

    --clr-primary: rgb(255, 173, 80);
    --clr-secondary: rgb(188, 101, 255);

    --a-clr: rgb(188, 100, 0);
    --a-hover: rgb(153, 82, 0);
    --a-visited: rgb(154, 23, 255);

    --header-bg: #eee;
}
@media (prefers-color-scheme: dark) {
    :root {
        background-color: #111;
        --base-bg: #111;
        color: white;
        --clr-primary: rgb(188, 100, 0);
        --clr-secondary: rgb(154, 23, 255);
        
        --a-clr: rgb(255, 173, 80);
        --a-hover: rgb(255, 195, 128);
        --a-visited: rgb(188, 101, 255);

        --header-bg: #222;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
}

section {
    padding: 2em;
}

a {
    color: var(--a-clr);
}
a:hover {
    color: var(--a-hover);
}
a:visited {
    color: var(--a-visited);
}

.header {
    --header-height: 100px;
    --smooth-edge-radius: 10px;

    display: flex;
    height: var(--header-height);
    border-radius: 1000vmax;
    margin: 0.5em;
    padding: 0 calc(var(--header-height) / 2 + var(--smooth-edge-radius));
    background-color: var(--header-bg);
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}
.nav-item::before {
    content: "";
    border-radius: 1000vmax;
    position: absolute;
    display: block;
    top: 0.2em;
    left: 50%;
    width: 10%;
    opacity: 0;
    height: 0.2em;
    background-color: var(--base-bg);
    transform: translate(-50%, 0%);
    transition: opacity 100ms ease-out,
                width 100ms ease-out;
}
.nav-item a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item .nav-list {
    position: absolute;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--header-bg);
    border-bottom-left-radius: var(--smooth-edge-radius);
    border-bottom-right-radius: var(--smooth-edge-radius);
    transform: translate(0%, -10%);
    transition: transform 100ms ease-in-out,
                opacity 100ms ease-in-out;
}
.nav-item .nav-list::before, .nav-item .nav-list::after {
    content: "";
    position: absolute;
    width: calc(var(--smooth-edge-radius) * 2);
    height: calc(var(--smooth-edge-radius) * 2);
    background-color: var(--header-bg);
    mask: radial-gradient(circle, transparent var(--smooth-edge-radius), #000 var(--smooth-edge-radius));
    -webkit-mask: radial-gradient(circle, transparent var(--smooth-edge-radius), #000 var(--smooth-edge-radius));
    transition: transform 140ms ease-in-out;
}
.nav-item .nav-list::before {
    left: 0;
    top: 0;
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
    transform: translate(-85%, -15%);
}
.nav-item .nav-list::after {
    right: 0;
    top: 0;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    transform: translate(85%, -15%);
}
.nav-item:hover::before {
    opacity: 1;
    width: 80%;
}
.nav-item:hover .nav-list {
    visibility: visible;
    opacity: 1;
    transform: translate(0%, 0%);
}
.nav-item:hover .nav-list::before {
    transform: translate(-100%, 0%);
}
.nav-item:hover .nav-list::after {
    transform: translate(100%, 0%);
}
.nav-item .nav-list .nav-item {
    height: 2em;
}
.nav-item .nav-list .nav-item::before {
    left: 0.2em;
    top: 50%;
    width: 0.2em;
    height: 10%;
    transform: translate(0%, -50%);
    transition: height 100ms ease-out,
                opacity 100ms ease-out;
}
.nav-item .nav-list .nav-item:hover::before {
    height: 80%;
    width: 0.2em;
}

.sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > ul > li > a.active {
    color: var(--a-clr) !important;
    border-left-color: currentColor;
}
.sidebar nav[role="doc-toc"] ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > ul > li > a:hover {
    color: var(--a-hover) !important;
    border-left-color: currentColor;
}

pre {
    color: inherit;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn, a.btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: var(--clr-primary);
    margin: 0 0.5em;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    font-weight: bold;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: transform 150ms ease-in-out;
}
.btn:hover {
    transform: scale(1.05);
}
.btn:active {
    transform: scale(0.85);
}
.btn.secondary {
    background-color: var(--clr-secondary);
}
p .btn {
    margin-left: 1em;
}
@media (prefers-color-scheme: dark) {
    .btn {
        box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    }
}

section.precourse {
    --bg-1: rgb(253, 131, 222);
    --bg-2: rgb(213, 130, 255);
    --bg-3: rgb(201, 177, 255);

    background: var(--bg-1);
    background: linear-gradient(135deg, var(--bg-1) 0%, var(--bg-2) 59%, var(--bg-3) 100%);
    background: -moz-linear-gradient(135deg, var(--bg-1) 0%, var(--bg-2) 59%, var(--bg-3) 100%);
    background: -webkit-linear-gradient(135deg, var(--bg-1) 0%, var(--bg-2) 59%, var(--bg-3) 100%);
}
section.course {
    --bg-1: rgb(255, 154, 197);
    --bg-2: rgb(255, 147, 147);
    --bg-3: rgb(255, 199, 150);

    background: var(--bg-1);
    background: linear-gradient(45deg, var(--bg-1) 0%, var(--bg-2) 59%, var(--bg-3) 100%);
    background: -moz-linear-gradient(45deg, var(--bg-1) 0%, var(--bg-2) 59%, var(--bg-3) 100%);
    background: -webkit-linear-gradient(45deg, var(--bg-1) 0%, var(--bg-2) 59%, var(--bg-3) 100%);
}
@media (prefers-color-scheme: dark) {
    section.precourse {
        --bg-1: rgb(181, 1, 136);
        --bg-2: rgb(97, 0, 145);
        --bg-3: rgb(50, 0, 168);
    }
    section.course {
    --bg-1: rgb(232, 0, 101);
    --bg-2: rgb(255, 31, 31);
    --bg-3: rgb(219, 103, 2);
    }
}

/* INFO: dark code highlighting */
@media (prefers-color-scheme: dark) {
    /* quarto syntax highlight colors */
:root {
    --quarto-hl-al-color: #f07178;
    --quarto-hl-an-color: #d4d0ab;
    --quarto-hl-at-color: #00e0e0;
    --quarto-hl-bn-color: #d4d0ab;
    --quarto-hl-bu-color: #abe338;
    --quarto-hl-ch-color: #abe338;
    --quarto-hl-co-color: #f8f8f2;
    --quarto-hl-cv-color: #ffd700;
    --quarto-hl-cn-color: #ffd700;
    --quarto-hl-cf-color: #ffa07a;
    --quarto-hl-dt-color: #ffa07a;
    --quarto-hl-dv-color: #d4d0ab;
    --quarto-hl-do-color: #f8f8f2;
    --quarto-hl-er-color: #f07178;
    --quarto-hl-ex-color: #00e0e0;
    --quarto-hl-fl-color: #d4d0ab;
    --quarto-hl-fu-color: #ffa07a;
    --quarto-hl-im-color: #abe338;
    --quarto-hl-in-color: #d4d0ab;
    --quarto-hl-kw-color: #ffa07a;
    --quarto-hl-op-color: #ffa07a;
    --quarto-hl-ot-color: #00e0e0;
    --quarto-hl-pp-color: #dcc6e0;
    --quarto-hl-re-color: #00e0e0;
    --quarto-hl-sc-color: #abe338;
    --quarto-hl-ss-color: #abe338;
    --quarto-hl-st-color: #abe338;
    --quarto-hl-va-color: #00e0e0;
    --quarto-hl-vs-color: #abe338;
    --quarto-hl-wa-color: #dcc6e0;
  }
  
  /* other quarto variables */
  :root {
    --quarto-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  

    div.sourceCode {
        background-color: rgb(40, 40, 40);
        border: none;
    }
  
  code span.al {
    background-color: #2a0f15;
    font-weight: bold;
    color: #f07178;
  }
  
  code span.an {
    color: #d4d0ab;
  }
  
  code span.at {
    color: #00e0e0;
  }
  
  code span.bn {
    color: #d4d0ab;
  }
  
  code span.bu {
    color: #abe338;
  }
  
  code span.ch {
    color: #abe338;
  }
  
  code span.co {
    font-style: italic;
    color: #f8f8f2;
  }
  
  code span.cv {
    color: #ffd700;
  }
  
  code span.cn {
    color: #ffd700;
  }
  
  code span.cf {
    font-weight: bold;
    color: #ffa07a;
  }
  
  code span.dt {
    color: #ffa07a;
  }
  
  code span.dv {
    color: #d4d0ab;
  }
  
  code span.do {
    color: #f8f8f2;
  }
  
  code span.er {
    color: #f07178;
    text-decoration: underline;
  }
  
  code span.ex {
    font-weight: bold;
    color: #00e0e0;
  }
  
  code span.fl {
    color: #d4d0ab;
  }
  
  code span.fu {
    color: #ffa07a;
  }
  
  code span.im {
    color: #abe338;
  }
  
  code span.in {
    color: #d4d0ab;
  }
  
  code span.kw {
    font-weight: bold;
    color: #ffa07a;
  }
  
  pre > code.sourceCode > span {
    color: #f8f8f2;
  }
  
  code span {
    color: #f8f8f2;
  }
  
  code.sourceCode > span {
    color: #f8f8f2;
  }
  
  div.sourceCode,
  div.sourceCode pre.sourceCode {
    color: #f8f8f2;
  }
  
  code span.op {
    color: #ffa07a;
  }
  
  code span.ot {
    color: #00e0e0;
  }
  
  code span.pp {
    color: #dcc6e0;
  }
  
  code span.re {
    background-color: #f8f8f2;
    color: #00e0e0;
  }
  
  code span.sc {
    color: #abe338;
  }
  
  code span.ss {
    color: #abe338;
  }
  
  code span.st {
    color: #abe338;
  }
  
  code span.va {
    color: #00e0e0;
  }
  
  code span.vs {
    color: #abe338;
  }
  
  code span.wa {
    color: #dcc6e0;
  }
  
  .prevent-inlining {
    content: "</";
  }
}