@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: bold;
    src: url("static/Fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("static/Fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    src: url("static/Fonts/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("static/Fonts/Montserrat-Regular.ttf");
}